<%- include('../partials/head') %>
<%- include('../partials/flash') %>
<section class="card">
  <h2><%= pageTitle %></h2>
  <p><%= message %></p>
  <a class="btn" href="/">Volver al inicio</a>
</section>
<%- include('../partials/foot') %>